body{
    margin: 0;
    font-family: system-ui;
}
h1{
    text-align: center;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: aquamarine;   
    
}
nav{
    display: flex;
    justify-content: space-between;
}
.page{

    padding: 1.125rem
}
.page:hover{
    background-color: azure;

}
.card__bookmark {
    border: 2px solid #ff4a11;
    font-size: 2em;
    position: absolute;
    top: -10px;
    right: -10px;
  }

.card{
    margin: 40px 10%;
    background-color: rgb(204, 240, 204);
    padding: 3% 10%;
    scroll-margin-top: 100px; 
    height: 9.375rem;
    display: flex;
    flex-direction: column;
    position: relative;    
}
.card > button {
    display: flex;
    flex-direction: column;
    align-self: center;
}
.card > h3{
    color: rgb(85, 81, 81);
    text-align: center;
}

.categorie_list{
    display: flex;
    gap: .625rem;
    position: absolute;
    bottom: .3125rem;
    left: 0;

}