body{
    margin: 0;
    font-family: system-ui;
}
h1{
    text-align: center;
}
footer{
    bottom: 0;
    width: 100%;
    background-color: aquamarine;
    padding: 1.125rem
}
nav{
    display: flex;
    justify-content: space-between;
}
.page{

    padding: 1.125rem
}
.page:hover{
    background-color: azure;

}
